In [1]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import KBinsDiscretizer
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("tested.csv")

In [3]:
df.drop(["PassengerId","Name","Ticket","Cabin","Embarked","Sex"],axis=1,inplace=True)

In [4]:
df

     Survived  Pclass   Age  SibSp  Parch      Fare
0           0       3  34.5      0      0    7.8292
1           1       3  47.0      1      0    7.0000
2           0       2  62.0      0      0    9.6875
3           0       3  27.0      0      0    8.6625
4           1       3  22.0      1      1   12.2875
..        ...     ...   ...    ...    ...       ...
413         0       3   NaN      0      0    8.0500
414         1       1  39.0      0      0  108.9000
415         0       3  38.5      0      0    7.2500
416         0       3   NaN      0      0    8.0500
417         0       3   NaN      1      1   22.3583

[418 rows x 6 columns]

In [5]:
df.fillna(0,inplace=True)

In [6]:
df.isna().sum()

Survived    0
Pclass      0
Age         0
SibSp       0
Parch       0
Fare        0
dtype: int64

In [7]:
n=0
d=0
x=df["Fare"]
y=df["Age"]

In [8]:
for i in range(len(x)):
    n+=(x[i]-x.mean()*y[i]-y.mean())
    d+=(x[i]-x.mean())**2

In [13]:
m=n/d

In [15]:
c=y.mean()-m*x.mean()

In [17]:
c

33.66769471887182

In [19]:
m

-0.27076271071992036