In [1]:
import pandas as pd 
import numpy as np

In [2]:
data={"name":["mitesh","harakh","hiren"],
    "surname":["rana","vahgela","sapra"],
    "salary":[20000,34000,30000],
     "age":[12,23,45]}

In [3]:
data

{'name': ['mitesh', 'harakh', 'hiren'],
 'surname': ['rana', 'vahgela', 'sapra'],
 'salary': [20000, 34000, 30000],
 'age': [12, 23, 45]}

In [4]:
df=pd.DataFrame(data)

     name  surname  salary  age
0  mitesh     rana   20000   12
1  harakh  vahgela   34000   23
2   hiren    sapra   30000   45

In [5]:
df

NameError: name 'df' is not defined

In [ ]:
df["total"]=df["salary"]/df["age"]

In [ ]:
df

In [ ]:
df["a"]=[23,45,67]

In [ ]:
df

In [ ]:
df1=pd.DataFrame(data)

In [ ]:
df1

In [ ]:
df=pd.concat([df,df1])

In [ ]:
df

In [ ]:
df=df.reset_index()

In [ ]:
df.drop(["index"],axis=1,inplace=True)

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.isna().sum()

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df

In [ ]:
df["name"].value_counts()

In [ ]:
df.name.sum()

In [ ]:
df.name.nunique()

In [ ]:
df.name.unique()

In [ ]:
df.name.unique()

In [ ]:
len(df.name)

In [ ]:
df

In [ ]:
df.loc[df["name"]=="mitesh"]

In [ ]:
df.loc[df["age"]>21]

In [ ]:
df.iloc[3:6,1:3]

In [ ]:
df

In [ ]:
df.iloc[4:6,4:6]

In [ ]:
df["toal"]=df["total"].fillna(0)

In [ ]:
df

In [ ]:
df["a"].mean()

In [ ]:
df.iloc[4:5,:1]

In [ ]:
df.iloc[1:2,:1]=df.iloc[1:2,:1].replace("harakh","darshan")

In [ ]:
df

In [ ]:
df.rename({"a":"num"},axis=1)

In [ ]:
df.iloc[4:,4:6]

In [ ]:
df.iloc[4:5,4:5]=5

In [ ]:
df

In [ ]:
df.iloc[3:5,4:5]=df.iloc[3:5,4:5].fillna(6)

In [ ]:
df

In [ ]:
df.iloc[5:,:1]=np.nan

In [ ]:
df

In [ ]:
df.iloc[5:,:1]=df["name"].mode()[0]

In [ ]:
df